.a1{
    text-align: center;
}
.btn{
    background-color: yellow;
    color: white;
    margin-left: 50px;
}
.z1{
    margin-left: 40px;
}
.s1{
   // background-color: aqua;
    width: 1300px;
    height: 100px;
    text-align: center;
}